*{
  margin:0;
}

body{
  --twitter-color: rgb(0,149,240);
  --twitter-color-hover: rgb(0,132,228);
  --twitter-background-color: #e6ecf0;
}

.app{
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
  justify-content: center;
}